---
---

@import "minimal-mistakes";

/* Bigger author avatar in the sidebar */
.sidebar .author__avatar img {
  max-width: 220px !important;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 320px;
  }

  .sidebar .author__avatar {
    width: 220px;
    height: auto;
  }
}