---
---

@import "minimal-mistakes";

/* Change the avatar inside the sidebar */
.sidebar .author__avatar img {
  width: 100%;
  max-width: 190px;      /* try 160–200 */
  height: auto;
  border-radius: 6px;     /* no circle but softened corners */
}

/* Optional: Keep it centered */
/*.sidebar .author__avatar {
  display: flex;
  justify-content: center; */
/* } */